body{
    background-color: rgb(41, 187, 75);
}

h1
{
    color: blue;
}

.callout {
    position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 2px solid rgba(255, 191, 9, 10px);
    border-radius: 0;
    background-color: white;
    color: #0a0a0a;

}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 5em;
    margin-block-end: 5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

