body{
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
}

.callout
{
    background-color: rgba(245, 237, 239, 0.867);
    background-image: url('../pozadina.png');
    background-size: 10%;
    background-repeat: no-repeat;
    background-position-x: 40%;
    background-position-y: 80%;
    background-blend-mode:calc(20%);

    
    min-height: 150px;
    width: 100%;
    padding-top: 30px;
    margin-top: 10px;
}

.button
{
   margin-right: 5px;
}

.orbit{
    margin-top: 10px;

}
.orbit-slide{
    background-color: #1bba3d;
    display:-webkit-inline-flex;

}



.orbit-bullets{
    position: relative;
}


.Dog{
    margin-top: 10px;
}

.docs-example-orbit-slide{
    background-repeat: no-repeat;
    background-position: center;   
    background-size:cover;"
    
}
.cell {
    display: -webkit-box;
    
}

.media-object
{
    margin-top: 5px;

 }

 #najava{

    color: rgb(8, 8, 8); border-right: 5px solid red;
    margin-right: 5px;
 }

#ulaznica{
    
    padding: 7px 15px;
    border-radius: 18px;
    color: #fff;
    background-color: #1bba3d;
    transition: background-color .3s ease;
    cursor: pointer;
    text-transform: uppercase;
    
}



#ulaznica:hover{
    background-color: #198d47;
}

.title-bar {
    background-color: rgba(245, 237, 239, 0.867);
    color: black;
    border-bottom: 3px solid red;
}

.nad
{
    background-color: rgba(245, 237, 239, 0.867);
}

.title-bar{
    background-color: rgba(245, 237, 239, 0.867);
}
.dno
{
    height: 200px;
    background-color: wheat;
    width:100%;
    overflow: visible;
}

.breadcrumbs li
{
    font-size:small;
}

.thumbnail 
{   display:inline-block;
   margin-right:5px;
   max-height: 50px;
}