body{
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
}

.callout
{
    background-color: rgba(245, 237, 239, 0.867);
    background-image: url('../pozadina.png');
    background-size: 10%;
    background-repeat: no-repeat;
    background-position-x: 40%;
    background-position-y: 80%;
    background-blend-mode:calc(20%);

    
    min-height: 150px;
    width: 100%;
    padding-top: 30px;
    margin-top: 10px;
}

.button
{
   margin-right: 5px;
   background-color: #1bba3d;
   border-radius: 10px;
}

.orbit{
    margin-top: 10px;

}
.orbit-slide{
        display:-webkit-inline-flex;
        background-repeat: no-repeat;
        background-position: center;   
        background-size:cover;
        padding-left: 20px;
        padding-right: 20px;

}

.partneri img
{
    border-radius: 10px;
    margin-left: 5px;
}

.orbit-bullets{
    position: relative;
}


.Dog{
    margin-top: 10px;
}


.cell {
    display: -webkit-box;
 
}

.media-object
{
    margin-top: 5px;

 }

 #najava{

    color: rgb(8, 8, 8); border-right: 5px solid red;
    margin-right: 5px;
 }

#ulaznica{
    
    padding: 7px 15px;
    border-radius: 18px;
    color: #fff;
    background-color: #1bba3d;
    transition: background-color .3s ease;
    cursor: pointer;
    text-transform: uppercase;
    
}



#ulaznica:hover{
    background-color: #198d47;
}

.title-bar {
    background-color: rgba(245, 237, 239, 0.867);
    color: black;
    border-bottom: 3px solid red;
    border-radius: 5px;
}

.nad
{
    background-color: rgba(245, 237, 239, 0.867);
}

.dno
{
    height: 200px;
    background-color: wheat;
    width:100%;
    overflow: visible;
}

.breadcrumbs li
{
    font-size:small;
}

.thumbnail 
{   display:inline-block;
   margin-right:5px;
   max-height: 50px;

}

.partneri p
{
    font-family: "Trebuchet MS", Verdana, sans-serif;
    color: rgb(23, 62, 217);
    
}

.regis{
    font-family: "Trebuchet MS", Verdana, sans-serif;
    background-color: rgba(245, 237, 239, 0.867);
    padding-left: 30px;
}
.regis p{
    padding-left: 30px;
}



.button:hover, .button:focus {
    background-color: #149e40;
    color: #fefefe; }

.top-bar {
    border-radius: 10px;
}

a {
    color:rgb(13, 67, 13);
}

a:hover{
    color:rgb(160, 22, 78);

}